/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.phpunit.result.cache
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
*.log
/.cache
/public/hot
/public/storage
/public/mix-manifest.json
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
.env.backup
.env.local
.env.production
.env.testing
/.env.*
/.env.*
